{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LAB 9">
    <meta name="author" content="{{author}}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fitur_login.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <title>
        Login page
    </title>
</head>
<body style="background-color:#49807D;">
  <br>
  <br>
  <br>
  <br><br>
  <br>
  <br>
  <br><br>
  <br><br>
  <br><br>
  <br>
  <form action="{% url 'login:auth_login' %}" method="POST">
    {% csrf_token %}
    <h2><span class="entypo-login"></span> Login</h2>
    <button class="submit"><span class="entypo-lock"></span></button>
    <span class="entypo-user inputUserIcon"></span>
    <input type="text" class="user" id="username" name="username" required placeholder="username"/>
    <span class="entypo-key inputPassIcon"></span>
    <input type="password" id="password" name="password" required class="pass"placeholder="password"/>
  </form>


<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'js/fitur_login.js' %}" ></script>
</body>
</html>
