{% extends "fitur_status/layout/base.html" %}
{% block content_status %}
	<div>
		<form id="form" method="POST" action="{% url 'status:add_status' %}">
			{% csrf_token %}
			{{ status_form }}
        	<br>
        	{% if verified %}
				<button type="submit" id="post">Post</button>
			{% endif %}
	</form>
	</div>
	<br>
	<div class="container" style="overflow-y: scroll; height: 100px; width: 100%;">
		{% for data in status %}
        <div id="date-added" class="status-list-date-added">
        	{{ data.created_date.date|date:"d F Y" }}
    	</div>
    	<div class="status-list-description">
        	{{data.description}}
        </div>
        <div class="to-do-list-delete">
            <div class="to-do-list-delete-button">
                <form method="POST" action="{% url 'status:delete_status' %}">
                	{% csrf_token %}
                	<button id="delete-button" type="submit" value="{{data.id}}" name="id-value">Delete</button>
            	</form>
        	</div>
        </div>

    	<br>
		{% endfor %}
	</div>
{% endblock %}
