{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LAB 10">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fitur_homepage.css' %}" />

    <!-- Jquery script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:700italic,400,400italic,700' rel='stylesheet' type='text/css'>
    <title>
        Homepage
    </title>
</head>


<body style="background-color:#49807D;">
  <link href='https://fonts.googleapis.com/css?family=Lato:700italic,400,400italic,700' rel='stylesheet' type='text/css'>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class=promo>
	<a href="/login" class="primary butt">Login Mahasiswa</a> <em>or</em> <a href="#" class="secondary butt">Login <span class=amp></span> Perusahaan</a>
</div>
</body>
</html>
<!--
<link href='https://fonts.googleapis.com/css?family=Lato:700italic,400,400italic,700' rel='stylesheet' type='text/css'>
<div class=promo>
	<a href="#" class="primary butt">Start 30-day free trial</a> <em>or</em> <a href="#" class="secondary butt">See all plans <span class=amp>&</span> pricing</a>
</div>
-->
