* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: 100%/1.5 Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #fff;
	background-color: #49807D;
	-webkit-font-smoothing: antialiased;
}

.promo {
	margin: 6em auto;
	max-width: 600px;
	text-align: center;
}

.promo em {
	font-family: Georgia, Times New Roman, serif;
	display: inline-block;
	background-color: #b6def2;
	color: #194c66;
	width: 4.5em;
	height: 4.5em;
	padding: 1.5em;
	border-radius: 50%;
	position: relative;
	z-index: 2;
	margin: -1.5em -1em;
}

.butt {
	padding: 1em 3em;
	background-color: #f6f6f6;
	border-radius: 4px;
	color: #222;
	text-decoration: none;
	font-weight: 700;
	text-transform: uppercase;
	font-size: .75em;
	line-height: 2;
	display: inline-block;
	letter-spacing: .1em;
}

.promo .butt {
	min-width: 245px;
}

	.primary.butt {
		background-color: #eb7966;
		color: #fff;
	}

		.primary.butt:hover {
			background-color: #d15a45;
		}

	.secondary.butt {
		background-color: #194c66;
		color: #fff;
	}

		.secondary.butt:hover {
			background-color: #0b374d;
		}
