body {
  background: #E3B23C;
}

#wrapper {
  position: relative;
  margin: 90px auto;
  width: 324px;
}

#profile {
  position: relative;
  background: #e74c3c;
  left: 45%;
}
#profile .img {
  position: absolute;
  top: -50px;
  left: 50%;
  margin: 0 0 0 -42px;
  width: 76px;
  height: 76px;
  border: 4px solid #ecf0f1;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.04);
  background: #ecf0f1 url("http://img.lukepeters.me/jack.jpg") 0 0 no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
#profile .btn, #profile .btn:visited {
  position: absolute;
  top: 10px;
  z-index: 10;
  padding: 0 8px;
  height: 24px;
  font-size: 10px;
  line-height: 24px;
  font-weight: 100;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
#profile .btn:hover, #profile .btn:visited:hover {
  color: rgba(255, 255, 255, 0.8);
  background: #ea6557;
}
#profile .btn.btn_left, #profile .btn:visited.btn_left {
  left: 10px;
}
#profile .btn.btn_right, #profile .btn:visited.btn_right {
  right: 10px;
}
#profile .info {
  position: relative;
  padding: 42px 22px 18px 22px;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 100;
  letter-spacing: 1px;
  color: #ecf0f1;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}
#profile .info strong {
  font-weight: 400;
}
.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}
.toprightaside {
    position: absolute;
    top: 8px;
    right: 8%;
    font-size: 18px;
}
.topleft {
    position: absolute;
    top: 8px;
    right: 90%;
    font-size: 18px;
}

h1 {
  margin: 0;
  font-size: 22px;
  line-height: 1;
  color: #423E37;
}

.page {
  width: 50vw;
  height: 100vh;
  min-height: 700px;
  overflow: hidden;
}

.tabs-controls {
  left: -10%;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px 0 100px;
  list-style-type: none;
}

.tabs-controls__link {
  position: relative;
  display: block;
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 700;
  color: #423E37;
  text-transform: uppercase;
  text-decoration: none;
}
.tabs-controls__link:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 4px;
  background-color: #423E37;
  border-radius: 2px;
  margin: auto;
  content: '';
  transition: width 0.4s;
}

.tabs-controls__link--active:after {
  width: 100%;
}

.cards-container {
  position: relative;
  z-index: 1;
  width: 500px;
  height: calc(100vh - 205px);
  margin: 0 auto;
}

.card {
  position: absolute;
  width: 500px;
  height: 300px;
  background-color: #EDEBD7;
  border: 1px solid #423E37;
  box-shadow: 9px 11px 3px 0px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 30px;
  transition: transform 0.3s, opacity 0.2s;
}
.card.hidden {
  z-index: 100;
  background-color: #fff;
  color: #fff;
  opacity: 0;
  transition: color 0.5s, background-color 0.5s, transform 1s, opacity 0.2s 0.4s;
}
.card.hidden h1 {
  color: #fff;
  transition: color 0.5s;
}
.card.hidden:nth-of-type(1) {
  transform: rotate(-90deg) translateX(183%) translateY(176%) scale(0.1) skewX(2deg) skewY(1deg);
}
.card.hidden:nth-of-type(2) {
  transform: rotate(-28deg) translateX(183%) translateY(250%) scale(0.1) skewX(3deg) skewY(3deg);
}
.card.hidden:nth-of-type(3) {
  transform: rotate(-84deg) translateX(184%) translateY(195%) scale(0.1) skewX(6deg) skewY(11deg);
}
.card.hidden:nth-of-type(4) {
  transform: rotate(-57deg) translateX(181%) translateY(241%) scale(0.1) skewX(3deg) skewY(4deg);
}
.card.hidden:nth-of-type(5) {
  transform: rotate(-76deg) translateX(191%) translateY(270%) scale(0.1) skewX(4deg) skewY(3deg);
}
.card.hidden:nth-of-type(6) {
  transform: rotate(-39deg) translateX(152%) translateY(163%) scale(0.1) skewX(10deg) skewY(3deg);
}
.card:nth-of-type(1) {
  z-index: 5;
  transform: translateX(0px) translateY(0px);
}
.card:nth-of-type(2) {
  z-index: 4;
  transform: translateX(10px) translateY(10px);
}
.card:nth-of-type(3) {
  z-index: 3;
  transform: translateX(20px) translateY(20px);
}
.card:nth-of-type(4) {
  z-index: 2;
  transform: translateX(30px) translateY(30px);
}
.card:nth-of-type(5) {
  z-index: 1;
  transform: translateX(40px) translateY(40px);
}
.card:nth-of-type(6) {
  z-index: 0;
  transform: translateX(50px) translateY(50px);
}
.form-style-4{
    width: 450px;
    font-size: 16px;
    padding: 30px 30px 15px 30px;
}
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea,
.form-style-4 label
{
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 16px;
    color: black;

}
.form-style-4 label {
    display:block;
    margin-bottom: 10px;
}
.form-style-4 label > span{
    display: inline-block;
    float: left;
    width: 150px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=email]
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
}
.form-style-4 textarea{
    font-style: italic;
    padding: 0px 0px 0px 0px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    overflow: hidden;
    resize:none;
    height:20px;
}

.form-style-4 textarea:focus,
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus
{
    border-bottom: 1px dashed #D9FFA9;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
    background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
background: #394D61;
}
.switch {
  position: absolute;
  top: 30%;
  left: 75%;
  width: 150px;
  height: 50px;
  text-align: center;
  margin: -30px 0 0 -75px;
  background: #00bc9c;
  transition: all 0.2s ease;
  border-radius: 25px;
}
.switch span {
  position: absolute;
  width: 20px;
  height: 4px;
  top: 50%;
  left: 50%;
  margin: -2px 0px 0px -4px;
  background: #fff;
  display: block;
  transform: rotate(-45deg);
  transition: all 0.2s ease;
}
.switch span:after {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 12px;
  margin-top: -8px;
  background: #fff;
  transition: all 0.2s ease;
}
.switch label {
  cursor: pointer;
  color: rgba(0,0,0,0.2);
  width: 60px;
  line-height: 50px;
  transition: all 0.2s ease;
}
label[for=yes] {
  position: absolute;
  left: 0px;
  height: 20px;
}
label[for=no] {
  position: absolute;
  right: 0px;
}
#no:checked ~ .switch {
  background: #eb4f37;
}
#no:checked ~ .switch span {
  background: #fff;
  margin-left: -8px;
}
#no:checked ~ .switch span:after {
  background: #fff;
  height: 20px;
  margin-top: -8px;
  margin-left: 8px;
}
#yes:checked ~ .switch label[for=yes] {
  color: #fff;
}
#no:checked ~ .switch label[for=no] {
  color: #fff;
}
