{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>WOIII</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="LAB 7">
  <meta name="author" content="{{author}}">
  <!-- bootstrap csss -->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

</head>
<div class="topleft">
  Selamat Datang, {{nama}}!
</div>
<div class="toprightaside">
  User<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/Happy_Human.svg/157px-Happy_Human.svg.png" alt="Smiley face" height="42" width="22">
</div><a href="{% url 'login:auth_logout' %}" class="btn btn-danger pull-right topright" onclick="return confirm('Keluar?')">Logout</a>
<body align="left">
  <div id="wrapper">
		<div id="profile">
      <div class="img src="https://i2.wp.com/www.acehtrend.co/wp-content/uploads/2016/03/monyet.jpg?fit=1200%2C800""></div>
      <a href="http://kaskus.co.id/" class="btn btn_left">Lihat Forum</a>
      <a href="https://www.facebook.com/CaptainJackSparrow" class="btn btn_right">Edit Profile</a>
      <div class="info">
        <strong>Jumlah Status: </strong> {{counter}}
        <br>
        <strong>Status Terakhir: {{get.status}}</strong>
      </div>
    </div>

  <content>
    <section class="page">
  	<section>
  		<ul class="tabs-controls">
  			<li class="tabs-controls__item">
  				<a href="#" class="tabs-controls__link" data-id="1">
  					Home
  				</a>
  			</li>
  			<li class="tabs-controls__item">
  				<a href="#" class="tabs-controls__link tabs-controls__link--active" data-id="2">
  					Profil
  			  </a>
  			</li>
  			<li class="tabs-controls__item">
  				<a href="#" class="tabs-controls__link" data-id="3">
  					Riwayat
  				</a>
  			</li>
  			<li class="tabs-controls__item">
  				<a href="#" class="tabs-controls__link " data-id="4">
  					Status
  				</a>
  			</li>
  			<li class="tabs-controls__item">
  				<a href="#" class="tabs-controls__link" data-id="5">
  					Teman
  				</a>
  			</li>
  		</ul>
  	</section>
  	<section class="cards-container">
  		<div class="card" id="1">
        <form class="form-style-4" action="" method="post">
          <label for="field1">
            <span>MAMAH DEDEEEEH</span><input type="text" name="field1" required="true" />
          </label>
          <label for="field4">
            <span>CURHAT DONG MAHHH</span><textarea name="field4" onkeyup="adjust_textarea(this)" required="true"></textarea>
          </label>
          <label>
            <span>&nbsp;</span><input type="submit" value="Send Letter" />
          </label>
        </form>
  		</div>
  		<div class="card" id="2">
  			<h1>Nama: {{nama}}</h1>
        <h1>NPM: {{npm}}</h1>
        <h1>Keahlian: {{myskillsyo}}</h1>
        <h1>Email: {{nama}}</h1>
        <h1>Profile Linked In: {{nama}}</h1>
  		</div>
  		<div class="card" id="3">
        <div class="toggle-radio">
          <input type="radio" name="rdo" id="yes" checked>
          <input type="radio" name="rdo" id="no">
          <div class="switch">
            <label for="yes">NPM</label>
      <label for="no">Nama</label>
      <span></span>
    </div>
    </div>

  		</div>
  		<div class="card" id="4">
  			<h1>E. Ut enim ad minim veniam</h1>
  			<p>
  				Ut enim ad minim veniam,
  				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  				consequat. Duis aute irure dolor in reprehenderit in vo cupidatat non
  				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  			</p>       
      </div>
      <div class="card card--current" id="5">
         {% block content %}
        <!-- Your Content Here -->
        {% endblock %}
  		</div>
  		<div class="card" id="6">
  			<h1>F. Labore et dolore magna aliqua</h1>
  			<p>
  				Labore et dolore magna aliqua. Ut enim ad minim veniam,
  				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  				consequat. Duis aute irure dolor in reprehenderit in volupest laborum.
  			</p>
  		</div>
  	</section>
  </section>
  </content>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="{% static 'js/func.js' %}" ></script>
</body>
</html>
