{% extends "layout/base.html" %}
{% block content %}
<!-- Content Here -->
<div class="pojok-kanan">
</div>
<div>

    <!-- Tab panes -->
    <div class="tab-content" style="overflow-y: scroll; height: 250px; width: 100%;">
        <div role="tabpanel" class="tab-pane fade in active" id="history">
          <div class="panel panel-info">
              <div class="panel-body">
                  <table class="table">
                      <thead>
                      <th> Nama Mata Kuliah </th>
                      <th> Nilai </th>

                      </thead>
                      <tbody>
                      {% for matkul in histories %}
                      <tr>
                        {% if matkul.kelas != null %}
                          <td> {{ matkul.kelas.nm_mk_cl.nm_mk }}</td>
                          {% if show_grade %}
                            <td> {{ matkul.nilai }}</td>
                          {% else %}
                            <td> Dirahasiakan </td>
                          {% endif %}
                        {% endif %}
                      </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}
