{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<title>Profile</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="LAB 7">
	<meta name="author" content="{{author}}">
	<!-- bootstrap csss -->
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/fitur_dashboard.css' %}" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
	<link rel="stylesheet" href="css/style.css">
	<!-- js -->
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="{% static 'js/edit_profile.js' %}" ></script>

	<script type="text/javascript" src="//platform.linkedin.com/in.js">
	api_key: 8104t6fuoptbtq
	authorize: true
	onLoad: onLinkedInLoad
	scope: r_basicprofile r_emailaddress
	</script>

	<style type="text/css">
	#profile-photo{
		border-radius: 50%;
		width: 20%;
	}
	#wrapper{
		width: 75%;
	}
	input[type=radio] {
		display: inline;
	}
	.list-group-item{
		width: 30%;
	}
	.my-box{
		display: inline-block;
		margin: 0px;
		padding: 0px;
	}
	</style>

</head>

<div class="toprightaside">
	User<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/Happy_Human.svg/157px-Happy_Human.svg.png" alt="Smiley face" height="42" width="22">
</div><a href="{% url 'login:auth_logout' %}" class="btn btn-danger pull-right topright" onclick="return confirm('Keluar?')">Logout</a>

<body align="left">
	<center>

		<div id="wrapper">
				<div id="picture">
					<img id="profile-photo" src="{{mahasiswa.photo}}">
				</div>
				<div id="npm">
					<h4>NPM {{npm}}</h4> 
				</div>
				<div id="field-name">
					<div id="name-text" class="my-box"><h4>Nama</h4></div>
					<div id="real-name" class="my-box"><h4>{{mahasiswa.name}}</h4></div>
				</div>
				<div id="field-email">
					<div id="email-text" class="my-box"><h4>Email</h4></div>
					<div id="real-email" class="my-box"><h4>{{mahasiswa.email}}</h4></div>
				</div>
				<div id="field-line">
					<div id="link-text" class="my-box"><h4>Profile Linkedin</h4></div>
					<div id="real-link" class="my-box">
					<a href="{{mahasiswa.profile_linkedin}}" target="_blank"><h4>{{mahasiswa.profile_linkedin}}</h4></a>
					</div>
				</div>
				{% csrf_token %}
				{% if mahasiswa.email %}
				{% else %}
					<script type="in/Login"></script>
				{% endif %}
				<form id="field-show-grade" action="#">
					<label class="radio-inline" for="field-show-grade" style="margin:0 20px 0 0;">Tampilkan nilai</label>
					<label class="radio-inline">
						<input type="radio" name="show-grade" value="no" checked >Tidak<br>
					</label>
					<label class="radio-inline">
						<input type="radio" name="show-grade" value="yes" >Ya<br>
					</label>
				</form>

				<div class="list-group" id="expertise-list">
					{% if expertises %}
						{% for expertise in expertises %}
							<a class="list-group-item clearfix"> 
							 {{ expertise.name }} ({{ expertise.level }})
								<span class="pull-right">
          			<span class="btn btn-xs btn-default" onClick=removeFriend('{{expertise.id}}')>
          			Hapus Keahlian</span></span> 
						</a>
						{% endfor %}
					{% else %}
					<div class="alert alert-danger text-center" style="width:30%;">
						<strong>Opps!</strong> Tidak ada expertise
					</div>
					{% endif %}
				</div>
				
				<form id="add-expertise" action="#">
					{% csrf_token %}
					<label for="field_expertise">Keahlian</label>
					<select id="field_expertise">
						<option>Java</option>
						<option>C++</option>
						<option>Go</option>
						<option>Clojure</option>
						<option>Python</option>
					</select>
					
					<label for="field_level">Level</label>
					<select id="field_level">
						<option>Beginner</option>
						<option>Intermediate</option>
						<option>Advanced</option>
						<option>Expert</option>
						<option>Legend</option>
					</select>

					<button type="submit">Tambah Keahlian</button>
				</form>
				<form id="fields-save" action="#" method="POST" class="my-box">
					{% csrf_token %}
					<button type="submit">Simpan</button>
				</form>
				<form id="fields-cancel-save" action="#" method="DELETE" class="my-box">
					{% csrf_token %}
					<button type="submit" >Keluar</button>
				</form>
		</div>
	</center>
</body>

<script type="text/javascript">
		$("#add-expertise").on("submit", function () {
			new_expertise = $("#field_expertise option:selected").text()
			level = $("#field_level option:selected").text()
			console.log(new_expertise)
			console.log(level)
			addExpertise(new_expertise, level)
			event.preventDefault();
		});

		var addExpertise = function(new_expertise, level) {
			$.ajax({
				method: "POST",
				url: "{% url "profile:add-expertise" %}",
				data: { new_expertise: new_expertise, level: level},
				success : function (expertise) {
					html = '<a class="list-group-item clearfix">' +
					expertise.name + " " + expertise.level + 
					'<span class="pull-right">' +
          '<span class="btn btn-xs btn-default" onClick=removeFriend(' + expertise.id + ')>' +
          'Hapus Keahlian</span></span>' 
          + '</a>';
					$("#expertise-list").append(html)
					location.reload();
				},
				error : function (error) {
					alert("Keahlian tersebut sudah ada")
				}
			});
		};

		var removeFriend = function(id) {
			$.ajax({
				method: "DELETE",
				url: "/profile/delete-expertise/" + id + "/",
				success : function (response) {
					console.log('sukses');
					$('#expertise-' + id).remove();
					location.reload();
				},
				error : function (error) {
					console.log('gagal');
				}
			});
		};

		$("#fields-save").on("submit", function () {
			var show_grade_str = $('#field-show-grade option:selected').val()
			var show_grade = true
			if (show_grade_str === 'no'){
				show_grade = false;
			}
			window.open('/profile/');
			event.preventDefault();
		});

		$("#fields-cancel-save").on("submit", function () {
			new_expertise = $("#field_expertise option:selected").text()
			level = $("#field_level option:selected").text()
			window.open('/profile/');
			event.preventDefault();
		});

		var updateProfileData = function(first_name, last_name, photo, email, profile_linkedin){
			$.ajax({
				method: "POST",
				url: "/profile/update-profile/",
				data: { first_name: first_name, last_name: last_name, photo: photo, email: email, profile_linkedin: profile_linkedin},
				success : function (expertise) {
					
				},
				error : function (error) {
					alert("Gagal update profile")
				}
			});
		};

		// Setup an event listener to make an API call once auth is complete
		function onLinkedInLoad() {
			IN.Event.on(IN, "auth", getProfileData);
		}
		
		// Use the API call wrapper to request the member's profile data
		function getProfileData() {
			IN.API.Profile("me").fields("id", "first-name", "last-name", "picture-urls::(original)", "public-profile-url", "email-address").result(displayProfileData).error(onError);
		}

		// Handle the successful return from the API call
		function displayProfileData(data){
			var user = data.values[0];
			//attr("src","second.jpg")
			updateProfileData(user.firstName, user.lastName, user.pictureUrls.values[0], user.emailAddress, user.publicProfileUrl);
			window.open("/profile/edit/")
		}

		// Handle an error response from the API call
		function onError(error) {
			console.log(error);
		}
		
		// Destroy the session of linkedin
		function logout(){
			IN.User.logout(removeProfileData);
		}
		
		// Remove profile data from page
		function removeProfileData(){
			document.getElementById('profileData').remove();
		}


		</script>
		</html>
