{% extends "fitur_profile/layout/base.html" %}
{% block content_profile %}
	
	<h4>Nama: {{ mahasiswa.name }}</h4>
	<h4>NPM: {{ mahasiswa.npm }}</h4>
	<h4>Keahlian: {% for data in expertises %}
		{{ data.name }} {{data.level}}
		{% endfor %} 
	</h4>
	<h4>Email: {{mahasiswa.email}}</h4>
	<h4>Profile Linked In: <a href="{{mahasiswa.profile_linkedin}}" target="_blank"><h4>{{mahasiswa.profile_linkedin}}</h4></a></h4>

{% endblock %}