{% extends "fitur_dashboard/layout/base.html" %}

{% block content %}
<!------------------------------------------
- INITIAL CONTENT
------------------------------------------->
    <initial>
      <h1><a href="">Material Design</a></h1>
      <p>An Ettrics inspired expanding overlay for showcasing a variety of content.</p>
    </initial>

<div id='container'>
<!------------------------------------------
- BLOCKS
------------------------------------------->
    <ul class="blocks">
      <li id="1" class="blocks__block"></li>
      <li id="2" class="blocks__block"></li>
      <li id="3" class="blocks__block"></li>
      <li id="4" class="blocks__block"></li>
    </ul>
<!------------------------------------------
- BLOCK TITLES
------------------------------------------->
    <ul class="blocks-names">
      <li class="blocks__name">Profile</li>
      <li class="blocks__name">History</li>
      <li class="blocks__name">Status</li>
      <li class="blocks__name">Friends</li>
    </ul>
<!------------------------------------------
- BLOCK CONTENT SECTIONS
------------------------------------------->
    <ul class="blocks-content">
      <li class="blocks-content__content">
        <div class="content__close"></div>
        <h2>Profile</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae modi esse, totam sequi non quae, rerum facilis nesciunt iusto praesentium officiis assumenda dignissimos. Saepe, facere incidunt. Laudantium quisquam asperiores sint.</p><i class="blocks__content-close-dark fa fa-close"></i>
      </li>
      <li class="blocks-content__content">
        <h2>History</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti ducimus voluptate velit quae cumque neque minima harum libero eligendi alias laboriosam ad, consequuntur error atque incidunt assumenda sapiente! Architecto, excepturi?</p><i class="blocks__content-close-dark fa fa-close"></i>
      </li>
      <li class="blocks-content__content">
        <h2>Status</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint eligendi quis accusantium recusandae iusto sed, magni iure magnam, architecto quisquam pariatur minus, rem alias. Eum voluptatem maiores quae reiciendis cupiditate.</p><i class="blocks__content-close-dark fa fa-close"></i>
      </li>
      <li class="blocks-content__content">
        <h2>Friends</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus officiis voluptates et, atque animi quae hic dolorem neque magnam reprehenderit sint dolor omnis modi mollitia labore quidem aspernatur ab architecto.</p><i class="blocks__content-close-light fa fa-close"></i>
      </li>
    </ul>
</div>
{endblock}
