{% extends "layout/base_friend.html" %}
{% block content %}
<!-- Content Here -->
<div class="pojok-kanan">
</div>
<div>

    <!-- Tab panes -->
    <div class="tab-content" style="overflow-y: scroll; height: 250px; width: 100%;">
        <div role="tabpanel" class="tab-pane fade in active" id="history">
          <div class="panel panel-info">
              <div class="panel-body">
                <input type="text" id="searchInput" onkeyup="search()" placeholder="Cari mahasiswa..">
                <select id="search-options">
                  <option value="npm">NPM</option>
                  <option value="nama" selected="selected">Nama</option>
                  <option value="angkatan">Angkatan</option>
                  <option value="keahlian">Keahlian</option>
                </select>
                  <table class="table" id="myTable">
                      <thead>
                      <th> NPM </th>
                      <th> Nama </th>
                      <th> Angkatan </th>
                      <th> Keahlian </th>
                      </thead>
                      <tbody>
                      {% for mahasiswa in list_mahasiswa %}
                      <tr>
                        <td> {{ mahasiswa.npm }} </td>
                        <td> {{ mahasiswa.name }} </td>
                        <td> {{ mahasiswa.angkatan }} </td>
                        <td style="color: red"> Java </td>
                      </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
        </div>
    </div>
</div>

<script type="text/javascript">

search = () => {
  const input = $('#searchInput').val();
  const filter = input.toUpperCase();
  const table = document.getElementById("myTable")
  const tr = table.getElementsByTagName('tr');
  const option = $('#search-options').val()
  let indexField = 1;
  if (option === 'npm') indexField = 0;
  else if (option === 'nama') indexField = 1;
  else if (option === 'angkatan') indexField = 2;
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[indexField];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
{% endblock %}
